fastapi
uvicorn
sqlalchemy
psycopg2-binary
requests
cloudinary
pillow
python-dotenv
feedparser
certifi
feedparser
cloudinary
psycopg2
openai
gnews
tenacity
newspaper3k
lxml_html_clean
googlenewsdecoder
genai