fastapi
uvicorn
sqlalchemy
psycopg2-binary
requests
cloudinary
pillow
python-dotenv
feedparser
certifi
openai
gnews
tenacity
lxml_html_clean
googlenewsdecoder
newspaper4k
python-slugify
huggingface_hub
tweepy
firebase-admin
google-genai